In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\users\\kim\\Documents\\ESS_data.txt")

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [4]:
df.year.value_counts()

7    4297
6    4297
Name: year, dtype: int64

In [10]:
#Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.
df.groupby(['year'])['ppltrst'].mean()

year
6    5.563098
7    5.556720
Name: ppltrst, dtype: float64

In [12]:
#Did people become happier from 2012 to 2014? Compute results for each country in the sample.
df.groupby(['cntry','year'])['happy'].mean()

cntry  year
CH     6       8.088312
       7       8.116429
CZ     6       6.770898
       7       6.914110
DE     6       7.428571
       7       7.857143
ES     6       7.548680
       7       7.419967
NO     6       8.251719
       7       7.915185
SE     6       7.907387
       7       7.946961
Name: happy, dtype: float64

In [14]:
#Who reported watching more TV in 2012, men or women?
temp = df[df['year'] == 6]
temp.groupby(['gndr'])['tvtot'].mean()

gndr
1.0    3.901906
2.0    3.944393
Name: tvtot, dtype: float64

In [ ]:
#Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

In [15]:
temp.groupby(['partner'])['pplfair'].mean()

partner
1.0    6.080736
2.0    5.856965
Name: pplfair, dtype: float64

In [17]:
#Pick three or four of the countries in the sample and compare how often people met socially in 2014. 
#Are there differences, and if so, which countries stand out?
temp2 = df[df['year']==7]
temp2.groupby(['cntry'])['sclmeet'].mean()

cntry
CH    5.160622
CZ    4.445802
DE    4.428571
ES    5.260116
NO    5.302326
SE    5.426211
Name: sclmeet, dtype: float64

In [18]:
#Pick three or four of the countries in the sample and compare how often people took part in social activities, 
#relative to 
#others their age, in 2014. Are there differences, and if so, which countries stand out?
temp2['cntry'].value_counts()

ES    1213
SE     908
CH     773
NO     731
CZ     658
DE      14
Name: cntry, dtype: int64

In [26]:
temp3 = temp2[(temp2['cntry']=="DE") | (temp2['cntry']=="ES") | (temp2['cntry']=="NO")]

In [27]:
temp3['cntry'].value_counts()

ES    1213
NO     731
DE      14
Name: cntry, dtype: int64

In [40]:
temp3['bin'] = pd.cut(temp3['agea'], [0, 20, 30, 40, 50, 200], labels=['0-20', '20-30', '30-40','40-50','50plus'])

C:\Users\kim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
temp3.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner,bin
2876,DE,11000031.0,7,1.0,2.0,5.0,3.0,8.0,4.0,4.0,2.0,49.0,1.0,40-50
2877,DE,11000041.0,7,2.0,6.0,7.0,5.0,7.0,4.0,2.0,1.0,57.0,1.0,50plus
2878,DE,11000071.0,7,4.0,7.0,6.0,6.0,9.0,6.0,3.0,1.0,52.0,1.0,50plus
2879,DE,11000091.0,7,5.0,4.0,7.0,7.0,8.0,4.0,2.0,2.0,71.0,1.0,50plus
2880,DE,11000131.0,7,4.0,7.0,7.0,7.0,7.0,4.0,3.0,1.0,67.0,1.0,50plus

In [43]:
temp3 = temp3.dropna()

In [44]:
temp4 = temp3[temp3['bin'].str.contains("0-20")]