In [21]:
import requests
import pandas as pd

In [41]:
try:
    import json
except ImportError:
    import simplejson as json

# Import the necessary methods from "twitter" library
from twitter import Twitter, OAuth, TwitterHTTPError, TwitterStream

# Variables that contains the user credentials to access Twitter API 
ACCESS_TOKEN = ''
ACCESS_SECRET = ''
CONSUMER_KEY = ''
CONSUMER_SECRET = ''

oauth = OAuth(ACCESS_TOKEN, ACCESS_SECRET, CONSUMER_KEY, CONSUMER_SECRET)


# Initiate the connection to Twitter Streaming API
twitter_stream = TwitterStream(auth=oauth)

# Get a sample of the public data following through Twitter
iterator = twitter_stream.statuses.sample()

tweet_count = 5
for tweet in iterator:
    tweet_count -= 1
    
    all_data = json.dumps(tweet)
    print(all_data)
    df = pd.read_json(all_data, typ='series')
    df = pd.DataFrame(df)
    
    if tweet_count <= 0:
        break

{"delete": {"status": {"id": 253873520398966784, "id_str": "253873520398966784", "user_id": 438285775, "user_id_str": "438285775"}, "timestamp_ms": "1518983415080"}}
{"delete": {"status": {"id": 965298870065553412, "id_str": "965298870065553412", "user_id": 719776507896401920, "user_id_str": "719776507896401920"}, "timestamp_ms": "1518983415361"}}
{"delete": {"status": {"id": 399513869129101312, "id_str": "399513869129101312", "user_id": 2185798134, "user_id_str": "2185798134"}, "timestamp_ms": "1518983415366"}}
{"delete": {"status": {"id": 948654819018878976, "id_str": "948654819018878976", "user_id": 925403658111524864, "user_id_str": "925403658111524864"}, "timestamp_ms": "1518983415372"}}
{"delete": {"status": {"id": 290681721458925568, "id_str": "290681721458925568", "user_id": 620315628, "user_id_str": "620315628"}, "timestamp_ms": "1518983415542"}}

In [42]:
df.head()

                                                        0
delete  {'status': {'id': 290681721458925568, 'id_str'...